@import '../styles/abstracts/spacing';

.bookshelf {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $spacingLarge + $spacingMedium;
  display: flex;
  overflow: hidden auto;
  flex-wrap: wrap;
}
