@import '../abstracts/colors';
@import '../abstracts/spacing';

@import '../abstracts/spacing';

.book-cover {
  background-color: $secondaryColor;
  grid-column: 5 / 6;
  grid-row: 1 / 4;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: $spacingLarge;

  @media (max-width: $mobileWidthMax) {
    height: auto;
    min-width: 5em;
  }

  &__image {
    max-width: $bookCoverWidth;
    max-height: $bookCoverHeight;
    margin: $spacingMedium;

    @media (max-width: $mobileWidthMax) {
      max-width: 100%;
      height: auto;
    }
  }

  &__text {
    position: absolute;
    top: 2 * $inputHeight;
    text-align: center;
    margin: $spacingMedium;
  }

  &__input {
    display: none;
  }
}
