$primaryColor: hsl(195, 3%, 26%);
$secondaryColor: hsl(20, 90%, 68%);

$primaryTextColor: hsl(0, 0%, 35%);
$primaryTextColorFade: hsl(0, 0%, 50%);
$invertedTextColor: hsl(255, 100%, 100%);
$invertedTextColorFade: hsl(255, 0%, 60%);

$buttonDarken: 10%;

$ratingFilledColor: hsl(56, 90%, 50%);
$ratingEmptyColor: $primaryTextColor;
