@import "../abstracts/colors";

@mixin input-border{
    outline: 0;
    border-radius: 4px;
    border-color: $primaryColor;
    border-style: solid;
    border-width: 2px;
    transition: border-color 0.2s;
}

@mixin input-border-focus{
    border-color: $secondaryColor;
    box-shadow: 0 0 0.5em 2px $secondaryColor;
}