@use "./base/_reset";
@use "./blocks/header";
@use "./blocks/footer";
@use "./blocks/main";
@use "./blocks/body";
@use "./blocks/book-card";
@use "./blocks/section";
@use "./blocks/scrollbar";
@use "./blocks/button";

@import "./abstracts/spacing";

.book-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-bottom: $spacingLarge;
  margin: $spacingMedium;

  .book-card {
    padding: 0px;
    margin-right: $spacingSmall;
    flex-shrink: 0;
  }

  &__info {
      display: flex;
      flex-direction: column;
      gap: $spacingMedium;
    flex-grow: 1;
    overflow: hidden auto;
  }
}
