@use "./base/_reset";
@use "./blocks/header";
@use "./blocks/footer";
@use "./blocks/main";
@use "./blocks/body";
@use "./blocks/book-card";
@use "./blocks/section";
@use "./blocks/scrollbar";

@import "../styles/abstracts/spacing";

.bookshelf {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: $spacingLarge + $spacingMedium;
  display: flex;
  // overflow: hidden auto;
  overflow:hidden auto;
  flex-wrap: wrap;
  justify-content: center;
}
