@import "../abstracts/colors";
@import "../abstracts/spacing.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryColor;
  overflow: hidden;
  padding-left: $spacingLarge;
  padding-right: $spacingMedium;

  &__title {
    color: $invertedTextColor;
    font-weight: normal;
  }
}

.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  &__li {
    list-style-type: none;
    color: $invertedTextColorFade;
    margin: $spacingMedium;
  }

  &__li--selected {
    color: $invertedTextColor;
  }

  &__ul {
    padding: $spacingMedium;
  }
}

.searchbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: $spacingSmall;

  &__input {
    background-color: $invertedTextColor;
    border-radius: $buttonRadius;
    color: $primaryTextColorFade;
    flex-grow: 1;
    height: 2em;
    margin-right: $spacingSmall;
    padding-left: $spacingMedium;
  }

  &__button {
    $searchColor: hsl(177, 100%, 40%);
    color: $searchColor;
    border-color: $searchColor;
    border-style: solid;
    border-radius: $buttonRadius - 2px;
    border-width: 1px;
    padding: $spacingSmall;
    background-color: $primaryColor;
  }
}
