@import "../abstracts/spacing";

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: end;
  align-items: center;
  max-height: 100%;
  margin-bottom: 1.5* $footerHeight;
} 
