@import "../abstracts/spacing";
@import "../abstracts/colors";

.rating::before{
    display:none;
    content: "Rating";
    margin: $spacingSmall;
    text-align: center;
    color: $primaryTextColor;

    @media (max-width: $mobileWidthMax){
        display:block;
    }
}